header {background: $color-main}
header.home { background: transparent;}
//body {background: $color-base;}
footer {background: $color-accent; color: #fff; text-align: center;}

.card {background: $color-base; color: #fff;}
.card a {color: #fff;}
.textbox {background: $color-base; color: #fff; text-align: center;}
