header {background: $color-main}
header.home { background: transparent;}
//body {background: $color-base;}
footer {background: $color-accent; color: #4f4f4f; text-align: center;}

//.card {background: $color-base; color: #fff;}
.card a {color: #4d4d4d;}
.card {border: 1px solid #ddd;}
.textbox {border: 1px solid #ddd; color: #4d4d4d; text-align: center;}
