//color
$color-base: rgba(189, 132, 106, 0.5);
$color-main: rgb(105, 189, 131);
$color-accent: #f9f9f7;
//$color-footer: rgb(179, 161, 177);

//width
$width-container-pc: 1200px;
$width-container-sm: 90%;

//breakpoint
$breakpoint-pc: 481px;
$breakpoint-sm: 480px;