@charset "utf-8";

html{}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,table,th,td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, time[pubdate]
{ margin:0em 0 0 0;padding:0;}
article, aside, canvas, details, figcaption, figure,main,
footer, header, hgroup, menu, nav, section, summary, time[pubdate] {
	display: block;
}
figure{ text-align:center;}
figure img{ margin-left:auto; margin-right:auto;}
figure figcaption{ text-align:left;}
table{ border-collapse:collapse;border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal;font-weight:normal;}
li{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%;font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym { border:0;font-variant:normal;}
sup { vertical-align:text-top;}
sub { vertical-align:text-bottom;}
input,textarea,select{ font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{ *font-size:100%;}
legend{ color:#000000;}
hr{ display:block; margin-top:2.0em; border:none; border-collapse:collapse; border-top:solid 1px #666666;}

/* ReStyled */
html{ background:#FFFFFF;}
body{ 
	margin:0; padding:0 0 0 0;
  font-family: "Mplus 1p",'Noto Sans Japanese','游ゴシック', YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo", "メイリオ", arial, helvetica, sans-serif;
	line-height:1.8;
	text-align:left;
  font-weight:400;
 font-size:15px;
  border-collapse:collapse; word-wrap: break-word;
  -webkit-text-size-adjust: 100%; 
  color:#4d4d4d;
}
select,input,button,textarea{ font:93% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

table{}
th,td{ vertical-align:top;}
img{ border:none; max-width:100%; height:auto;
  image-rendering: auto;               /* CSS4 (Chrome) */
}
imgd{
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  image-rendering: -webkit-crisp-edges;     /* Safari */
  image-rendering: -moz-crisp-edges;        /* Firefox */
  image-rendering: pixelated;               /* CSS4 (Chrome) */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}
caption{ font-size:85%;}
strong{ font-weight:600;}
em{ font-weight:600; font-size:129%; font-style:normal;}
a{ color:#00A0E9; text-decoration: none;} /*color:#202020;*/

*{ 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after { content:""; display:block; clear:both;}



h1+*,h2+*,h3+*,h4+*{ margin-top:1.0em;}
.safety{ display:block; margin:0; padding:0; width:1px; height:1px; overflow:hidden; visibility:hidden;}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* CSS Document */
/* eordpress 管理バー専用 */
#wpadminbar,#wpadminbar *{ margin-top:0;}
/*画像保存禁止スマホ用*/
img{	  
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}
/*TEXT*/
.title{
	margin: 0;
	padding: 10px;
	font-size: 136%;
}
.title a{color: #000;}
.page-title{
	margin-top: 30px; 
	padding: 0; 
	text-align: center; 
	font-size: 200%; 
	font-weight: 600; 
	line-height: 1.5;
}
.page-title-icon{}
.page-title-sub{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 600; 
	font-size: 108%; 
	letter-spacing: 0.2em;
}
.article-title{
	margin-top: 30px;
	padding: 0;
	text-align: center;
	font-size: 180%;
	font-weight: bold;
}
.article-title-sub{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 600; 
	font-size: 108%; 
	letter-spacing: 0.2em;
}
.article-title-icon{
	margin-right: 0.5em;
}
.section-title{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 120%;
	font-weight: 400;
}
.section-title-sub{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 83%;
	font-weight: bold;
}

/*全体のレイアウト*/
body{
	position: relative;
	font-family: 'M PLUS 1p', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
	color: #000;
}
header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	border-bottom: 1px solid #ccc;
	background: #E16B8C;
}
footer{
	color: #fff;
	margin-top: 2em;
}
.fc01{
	padding: 10px 0;
	text-align: center;
	background: rgb(78,79,151);
}
.fc02{
	padding: 10px 0;
	text-align: center;
	background: #4d4d4d;
}

/*新着情報*/
.log{
	margin: 0 auto;
	margin-top: 1em;
	padding: 2em;
	background: rgba(0,0,0,0.7);
	background: #fff;
}
.log li{
	padding: 1em 0;
	border-bottom: 1px dotted #ccc;	
}
.log li time{
	display: block;
	float: left;
}
.log li p{
	display: block;
	float: left;
	margin-left: 2em;
}
.log li:after {
    content: "";
    display: block;
    clear: both;
}

/*リンクボタン*/
.button{
	margin: 0 auto;
	margin-top: 1.0em;
	padding: 0.5em 1em;
	width: 200px;
	border: 2px solid #ccc;
	border-radius: 3px;
	transition: all 0.5s;
}
.button a{
	display: block;
	color: #000;
}
.button:hover{
		background: rgba(245,150,170);
}
.link-button a{
	color: #000;
}
/*デコレーション*/
.article-title{
	position: relative;
	padding: 0.25em 0;
}
/*アイコン*/
.fa-angle-double-right{
	margin-left: 1em;
}
/*書いた人*/
.writer{
	margin-top: 2.0em;
	border: 1px solid #cccccc;
}
.writer h3{
	border-bottom: 2px solid rgba(245,150,170);
}
.writer a{
	padding: 1.0em;
	display: block;
	color: #000;
}
.writer_image{
	width: 40%;
	float: left;
}
.member_image{
	text-align: center;
}
.writer_copy{
	width: 60%;
	float: left;
}
.title a{color: #fff;}
.pc-only{}
.sm-only{ display:none !important; }
/*ヘッダー*/
.hc{
	width: 1200px;
	margin: 0 auto;
}
/*グローバルナビ*/
.gnav .nc{
	margin: 0 auto;
	width: 1200px;
}
.gnav ul{
	margin: 0 auto;
}
.gnav li{
	width: 20%;
	float: left;
	transition: all 0.5s;
}
.gnav li:hover{
	transform: scale(1.1);
}
.gnav li a{
	display: block;
	padding: 0.7em 1.7em;
	line-height: 1.5;
	color: #000;
	color: #fff;
}
/*コンテンツ*/
.content{
	margin: 0 auto;
	width: 1200px;
	background: #f3f3f3;
	padding: 2em;
}
.main{
	margin-top: 1em;
}
/*サイドバー*/
.sidebar{
	margin-top: 1em;
	padding: 1.0em;
	width: 25%;
	float: right;
	border: 1px solid #CCCCCC;
}
.widget li{
	border-bottom: 1px solid #cccccc;
	transition: all 0.5s;
}
.widget li a{
	padding: 1.0em;
	display: block;
	color: #000;
}
.widget li:hover{
	background: rgba(245,150,170,0.3);
}
.widget h3{
	border-bottom: 2px solid rgba(177,148,54,0.3);
}
/*フッター*/
.fc01 .about{
	width: 1200px;
	margin: 0 auto;
}
.fc02 .copyright{
	width: 1200px;
	margin: 0 auto;
}

/*コンピュータ研究部とは*/
.about {
	margin-top: 30px;
}
.cards{
	margin-top: 1em;
	display: flex;
	justify-content: center;
	width: 100%;
}
.card{
	width: 300px;
	margin: 0 5px;
	padding: 20px;
	background: #fff;
	color: #000;
}
/*場所*/
.info{
	margin-top: 30px;
}
.contacts{
	margin-top: 1em;
	display: flex;
	justify-content: center;
}
.map{
	max-width: 100%;
}
.contact{
	padding: 20px;
	background: #fff;
	color: #000;
}
.contact p {
	margin: 0;
	padding: 1em 0;
	text-align: center;
}

/*ブログアーカイブ*/
.archive{
	transition: all 0.5s;
	background: #fff;
	margin-top: 1em;
}
.archive a{
	padding: 2em 1em;
	display: block;
	color: #4d4d4d;
}
.archive:hover{
	background: rgba(225,107,140,0.5);
}
.archive .post-header{
	margin-bottom: 2em;
}
.archive .imagewrapper{
	width: 40%;
	float: left;
}
.archive .excerpt {
	width: 60%;
	float: left;
}
.archive .post-title{
	font-weight: bold;
	font-size: 120%;
	color: #2e425b;
}
/*イラスト一覧表示*/
.gallerys {
	margin-top: 2em;
}
.gallerys li{
	display: inline-block;
	margin: 0 2em 2em 0;
/*	padding: 1em;*/
}
.gallerys li a{
	color: #000;
}
.gallerys .img{
	transition-duration: 0.3s;
}
.gallerys .img:hover{
	transform: scale(1.1);
	transition-duration: 0.3s;
}
/*部員個別表示*/
.article{
	background: #fff;
	padding: 1em;
	margin-top: 1.5em;
}
.main-item .imagewrapper .image{
	text-align: center;
}
.main-item .body p{
	text-align: center;
}
/*メンバーのデザイン案の適用*/
.members .flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.members .flexbox a {
	display: block;
	padding: 2em;
}
.members .flexbox div {
	background: #fff;
	margin: 0 .5em .5em 0;
	width: 25%;
	transition: .5s;
}
.members .flexbox div:hover {
	background: rgba(245,150,170);
}
.members .flexbox .post-image {
	text-align: center;
}
.members .flexbox p {
	color: #000;
}

/*ブログ個別*/
.blog-main{
	width: 70%;
	float: left;
	margin-top: 1em;
}
.blog-main .body {
	padding: 2em;
	background: #fff;
}

/*イラスト個別*/
.gallery-main{
	width: 70%;
	float: left;
	margin-top: 1em;
}
.gallery-main .body {
	padding: 2em;
	background: #fff;
}

/*前次の記事へのリンク*/
.navigation{
	margin-top: 4.0em;
}
.navigation a {
	display: block;
	position: relative;
	padding: 1em;
	width: 100%;
}
.navigation .text p{
	color: #000;
}
.navigation .prev{
	position: relative;
	width: 40%;
	float: left;
	border: 1px solid #cccccc;
	border-left: none;
}
.navigation .next{
	position: relative;
	width: 40%;
	float: right;
	border: 1px solid #cccccc;
	border-right: none;
}
.next,.prev{
	transition: all 0.5s;
}
.next:hover,.prev:hover{
	background: rgba(245,150,170);
}
.prev .image{
	width: 50%;
	float: left;
}
.prev .text{
	width: 50%;
	float: left;
}
.prev .catch{
	position: absolute;
	top: -1em;
	left: 1em;
	border: 1px solid #cccccc;
	color: #000;
	background: #f3f3f3;
}
.next .image{
	width: 50%;
	float: right;
}
.next .image p{
	text-align: right;
}
.next .text{
	width: 50%;
	float: right;
}
.next .text p{
	text-align: right;
}
.next .catch{
	position: absolute;
	top: -1em;
	right: 1em;
	border: 1px solid #cccccc;
	color: #000;
	background: #f3f3f3;
}
.catch{
	padding: 0em 0.5em;
}

/*スライドショー*/
.regular{
	padding-top: 100px;
	height: 350px;
	overflow: hidden;
}
.regular img{
	height: 350px;
	width: 100%;
}

/*各ページのヘッダー画像*/
.head-img{
	padding-top: 100px;
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.head-img img{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

/*新着ブログ*/
.flex{
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
}
.blog,.gallery{
	margin-right: 1em;
	padding: 1em;
	width: 25%;
	background: #fff;
	transition-duration: 0.3s;
}
.blog:hover,.gallery:hover{
	transform: scale(1.05);
	transition-duration: 0.3s;
}
/*新着ブログ、イラスト個別表示*/
.blog a,.gallery a{color: #000;}
.blog-image,.gallery-image {
	text-align: center;
}
.blog-meta,.gallery-meta{
	display: block;
	text-align: center;
}
.blog-title,.gallery-title{
	text-align: center;
}
