header {
	width: 100%;
	background: #E16B8C;
    z-index: 100;
    .hc {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: .5em 1em;
        @include min-screen($breakpoint-pc) {
		    width: $width-container-pc;
        }
        @include max-screen($breakpoint-sm) {
            width: $width-container-sm;
        }
    }
}
header.home {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}