.gnav {
    ul {
        display: flex;
        justify-content: space-around;
        li a{
            display: block;
            color: #fff;
            @include min-screen($breakpoint-pc) {
		        margin-right: 5em;
            }
        }
    }
}