/*新着情報*/
.log{
	margin: 0 auto;
	margin-top: 1em;
	padding: 2em;
	background: rgba(0,0,0,0.7);
	background: #fff;
}
.log li{
	padding: 1em 0;
	border-bottom: 1px dotted #ccc;	
}
.log li time{
	display: block;
	float: left;
}
.log li p{
	display: block;
	float: left;
	margin-left: 2em;
}
.log li:after {
    content: "";
    display: block;
    clear: both;
}

.news {
    background: rgba(0, 0, 0, 0.7);
}