.slick-slider {
    
    img {
        height: 50vh;
        width: 100%;
    }
}
.bg-slider {
    height: 100vh;
    .bg-mask {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}